#Panel ul.PanelInfo li{margin-bottom:0;}
#Content{min-height:500px;margin-right:250px;margin-left:187px;border:none;}
#MainContent{margin-left:20px;margin-top:7px;padding-right:7px;}
input.PageName{font-size:22px;width:30%;float:left;}
div#UrlCodeContainer{float:left;margin-top:8px;margin-left:5px;}
div#UrlCodeContainer a{margin-left:5px;}
#UrlCode{background:#ffd;padding:3px 5px;}
input.UrlCode{background:none;border:0;font-size:14px;width:60%;clear:right;}
#Panel2{float:right;width:250px;}
table#NewMeta{height:110px}
.ic_16{display:inline-block;height:16px;width:16px;position:relative;text-indent:-999em}
.ic_16:hover{background-color:#ddd;}
.ic_edit{background:url('images/ic_edit.png') no-repeat}
.ic_delete{background:url('images/ic_delete.png') no-repeat}
.HoverToggle{display:none;margin-left:10px}
#TheList tr:hover .HoverToggle{display:inline}
a#NewMetaSubmit{position: relative;top: 15px;}
.Box input.Draft{background:#ddd;color:#000;text-shadow:none;border-color:black;}
.Box input.SaveButton{float:right}
#Panel2 div.Box.Info input.Button{margin-top:5px;}
#Panel2 div.Box{padding:15px;margin:0 0 10px;}
#Panel2 div.Box.Info{background:#ffd;border-color:#000;}
#Panel2 .TinyProgress{position:absolute;right:0px;top:0px;}
#Panel2 ul li{margin-bottom:0;}
a.DeleteMeta{margin-left:5px;color:red;}
a.DeleteMeta:hover{color:#850000;}
.AssetShowHide{display:none;}
/*
table#Permissions thead tr th{padding-left:5px;}
table#Permissions tbody tr td{text-align:center;}
table#Permissions tbody tr td.RoleName{text-align:left;font-weight:bold;}
*/
div.PostMeta{padding:10px;margin-top:20px;}
div.PostMeta tr{border:1px solid #A5D0E7;}
table#MetaList{margin-bottom:10px;}
.HoverHelp{text-shadow:none;}
